---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import PageBody from '../components/PageBody.astro';
import TinaIsland from '@tinacms/astro/TinaIsland.astro';
import config from '../content/config/config.json';
import { getPage } from '../lib/data';
import { islands } from '../lib/islands';

export const prerender = false;

const relativePath = 'home.mdx';
const result = await getPage(relativePath);
if (!result.data?.page) {
	return new Response('Not Found', { status: 404 });
}
const data = result.data.page;
---
<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={config.seo.title} description={config.seo.description} />
	</head>
	<body>
		<Header />
		<TinaIsland name="page" wrapper={islands.page.wrapper} params={{ relativePath }}>
			<PageBody data={data} />
		</TinaIsland>
		<Footer />
	</body>
</html>
