---
import HeaderLink from "./HeaderLink.astro";
import IconLink from "./IconLink.astro";
import { tinaField } from '@tinacms/astro/tina-field';
import { getGlobalConfig } from '../lib/data';

const result = await getGlobalConfig();
const config = result.data.config;
---

<header>
	<nav>
		<h2>
			<a href="/" data-tina-field={tinaField(config.seo, 'title')}>
				{config.seo?.title}
			</a>
		</h2>
		<div class="internal-links">
			{
				config.nav?.map((nav, i) => nav && (
					<HeaderLink href={nav.link} data-tina-field={tinaField(config, 'nav', i)}>
						{nav.title}
					</HeaderLink>
				))
			}
		</div>
		<div class="social-links">
			{
				config.contactLinks?.map((link, i) => link && (
					<IconLink
						title={link.title ?? ''}
						link={link.link ?? ''}
						icon={link.icon ?? ''}
						dataTinaField={tinaField(config, 'contactLinks', i)}
					/>
				))
			}
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
