---
import TinaMarkdown from '@tinacms/astro/TinaMarkdown.astro';
import { tinaField } from '@tinacms/astro/tina-field';
import type { PageQuery } from '../../tina/__generated__/types';

interface Props {
	data: NonNullable<PageQuery['page']>;
}

const { data } = Astro.props;
---
<main>
	<div data-tina-field={tinaField(data, 'body')}>
		<TinaMarkdown content={data.body} />
	</div>
</main>
